.card-container {
  @include grid-2-3;
  @include respond(tab-land) {
    @include grid-2-2; // 1 rem = 9px, 9/16 = 56.25%
  }
  @include respond(phone) {
    @include flex-1-col;
  }
}

.feature-section {
  background-color: $featureSection;
  border-radius: 48px;
  padding: 7rem;
}

.card {
  width: 40rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  @include respond(phone) {
    align-items: center;
    justify-content: center;
  }
}

.card__title {
  font-size: 2.3rem;
  font-weight: 800;
  color: #2d2a3e;
  @include respond(phone) {
    font-size: 2rem;
    text-align: center;
  }
}

.card__description {
  color: #7e7fa0;
  line-height: 1;
  letter-spacing: 0.025em;
  @include respond(phone) {
    line-height: 1.2;
    text-align: center;
  }
}

.card__style {
  @include flexCenter;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card__icon {
  width: 3.8rem;
  height: 3.8rem;
  background-size: cover;
  &--1 {
    background-image: url("/img/ph_heart.png");
  }
  &--2 {
    background-image: url("/img/Vector.png");
  }
  &--3 {
    background-image: url("/img//bx_food-menu.png");
  }
  &--5 {
    background-image: url("/img/ant-design_like-outlined.png");
  }
  &--4 {
    background-image: url("/img/ant-design_setting-outlined.png");
  }
  &--6 {
    background-image: url("/img/mdi_tick-circle-outline.png");
  }
  @include respond(phone) {
    width: 3rem;
    height: 3rem;
  }
}

.card__style--1 {
  background-color: #fff1f0;
}
.card__style--2 {
  background-color: #f2e9fa;
}
.card__style--3 {
  background-color: #e4f7fa;
}
.card__style--4 {
  background-color: #e4e6fb;
}
.card__style--5 {
  background-color: #fde9f4;
}
.card__style--6 {
  background-color: #e4f9e6;
}
